/* Basic style tweaks */
section { padding: 5px; }
.navbar { margin-bottom: 2px; }

/* Scroll Bar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:window-inactive  { background: red; }

input {
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  background-image: none;
  border: 1px solid gray;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
}

.navbar-inner {
  background: rgba(13, 13, 13, 0.9);
}

#result {
  text-align: left;
  padding: 10px;
}

td {
  vertical-align: top;
}

#result span {
  width: 50px;
  display: inline-block;
  text-align: right;
  font-weight: bold;
  margin-right: 10px;
}