body {
  min-width: 400px;
  max-width: 400px;
  text-align: center;
}

input {
  width: 70%;
}

button {
  margin-top: 5px;
}

.text-center {
  text-align: center;
}

pre {
  text-align: left;
}

hr {
  margin: 10px 0;
}

#result {
  text-align: left;
  padding: 10px;
}

.success {
  background-color: #dff0d8;
}

.warning {
  background-color: #fcf8e3;
}

.error {
  background-color:  #f2dede;
}

#result span {
  width: 50px;
  display: inline-block;
  text-align: right;
  font-weight: bold;
  margin-right: 10px;
}